
<nav class="navbar navbar-dark navbar-toggleable-md navbar-inverse">
  <!-- Topbar content -->
  <div id="Topbar" class="row col-lg-10" style="    margin-left: -2%;">

            <div class="col-lg-3">
              <a class="navbar-brand" href="#">
                <img class="logo" src="assets/images/logo.jpg" width="30" height="30" alt="">
              </a>
            </div>

            <div class="collapse navbar-collapse col-lg-6" id="navbarToggler" style="padding: 16px;">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" ng-show="role === 'reporter'">
                  <a class="nav-link" href="#">Story manager</a>
                </li>
              </ul>
            </div>






  </div>
  <div id="Topbar" class="row col-lg-2 nav nav-pills float-right">
    <div class="dropdown nav nav-pills float-right" style="margin-left: 90%; ">
      <button class="cg bpo bpp boi" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
         <img class="img-avatar" src="assets/images/avatar-2.png">
         <p style="color: #fff;">{{role}}</p>
      </button>
      <div class="dropdown-menu" style="right: 0;" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#!/profile">Profile</a>
        <a class="dropdown-item" href="#!/logout">Logout</a>
      </div>
    </div>
  </div>
  <!-- end Topbar  -->
</nav>
