<div class="js-FiltersContainer">

    <div class="Filters-content">

        
        <div class="filterFilters specificFilter">
            <span></span>
            <input type="text">
        </div>
        

        <a class="Filters-choice  isActive" data-filter="422530!23" data-noaccent="" stop="" coque""="" title="">
            
            <input type="checkbox" id="filter_35ac3ed7-fd37-424d-9506-10339d91f257" class="check">
            
            <label for="filter_35ac3ed7-fd37-424d-9506-10339d91f257" class="Filters-choiceTxt ">
                <span class="Filters-choiceLabel">"Stop Coque"</span>
                
                <span class="Filters-choiceCount">(233)</span>
                
            </label>
        </a>

        

        <a class="Filters-choice  isActive" data-filter="461031!23" data-noaccent="Viscorelax" title="Viscorelax">
            
            <input type="checkbox" id="filter_9164b396-95de-450b-8f31-e07722e30d34" class="check">
            
            <label for="filter_9164b396-95de-450b-8f31-e07722e30d34" class="Filters-choiceTxt ">
                <span class="Filters-choiceLabel">Viscorelax</span>
                
                <span class="Filters-choiceCount">(2)</span>
                
            </label>
        </a>

        

        <a class="Filters-choice  isActive" data-filter="448510!23" data-noaccent="Novadis" title="Novadis">
            
            <input type="checkbox" id="filter_1ded84d9-6019-45c2-8fcf-f8a98d9ca2cd" class="check">
            
            <label for="filter_1ded84d9-6019-45c2-8fcf-f8a98d9ca2cd" class="Filters-choiceTxt ">
                <span class="Filters-choiceLabel">Novadis</span>
                
                <span class="Filters-choiceCount">(1)</span>
                
            </label>
        </a>

        
    </div>

    
</div>