<div class="container" ng-controller="storyCtrl">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Edit Story {{ story.title }}</h1>
        </div>
    </div>
    <script></script>
    <div class="row justify-content-center">
        <div class="col-md-6">
           
            <form name="storyForm">
                <div class="form-group">
                  <input type="hidden" name="authorId" ng-model="edit._id" class="form-control" value="5aa3148a268d9b158e3a068c" />
                </div>
                <div class="form-group">
                  <input type="hidden" name="status" ng-model="status" class="form-control" value="1" />
                </div>
                <div class="form-group">
                    <input type="hidden" name="_id" ng-model="_id" class="form-control" value="story._id" />
                  </div>
                <div class="form-group" ng-class="{ 'has-error' : storyForm.title.$invalid && !storyForm.title.$pristine }">
                  <input type="text" name="title" ng-value="story.title" class="form-control" ng-model="edit.title" placeholder="Title"/>
                  <p ng-show="storyForm.title.$error.minlength" class="help-block">Content is too short.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : storyForm.summary.$invalid && !storyForm.summary.$pristine }">
                  <input type="text" name="summary" ng-value="story.summary" ng-model="edit.summary" class="form-control" placeholder="summary"/>
                  <p ng-show="storyForm.summary.$error.minlength" class="help-block">Content is too short.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : storyForm.content.$invalid && !storyForm.content.$pristine }">
                  <textarea type="text" name="content" ng-value="story.content" ng-model="edit.content" class="form-control" placeholder="Content"></textarea>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : storyForm.price.$invalid && !storyForm.price.$pristine }">
                  <input type="text" name="price" ng-value="story.price" ng-model="edit.price" class="form-control" placeholder="Price"/>
                </div>
                <div class="form-group">
                  <input type="file" name="thumbnail" ng-model="edit.thumbnail" class="form-control" onchange="readURL(this)">
                  <input type="hidden" name="thumb2" id="thumb2">
                  <img src="story.thumbnail" id="img">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : storyForm.country.$invalid && !storyForm.country.$pristine }">
                  <label>Country</label>
                  <select  ng-model="edit.country" data-placeholder="Add Countries" >
                      <option value=""></option>
                      <option value="USA">USA</option>
                      <option value="UK">UK</option>
                      <option value="France">France</option>
                  </select>
                  <p ng-show="storyForm.country.$invalid && !storyForm.country.$pristine" class="help-block">Enter a valid tag.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : storyForm.sector.$invalid && !storyForm.sector.$pristine }">
                  <label>Topic</label>
                  <select  ng-model="edit.sector" data-placeholder="Add Topics">
                      <option value=""></option>
                      <option value="Economy">Economy</option>
                      <option value="Arts">Arts</option>
                      <option value="Social">Social</option>
                  </select>
                  <p ng-show="storyForm.sector.$invalid && !storyForm.sector.$pristine" class="help-block">Enter a valid tag.</p>
                </div>
                <div class="form-group">
                 
                    <input type="button" class="btn btn-primary" ng-disabled="storyForm.$invalid" ng-click="editStory(edit)" value="Submit">
                </div>
            </form>
        </div>
    </div>
  </div>
  <script>
    function readURL(input) {
           if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function (e) {
               document.getElementById('thumb2').value =  e.target.result;
             }
             reader.readAsDataURL(input.files[0]);
             console.log('test');
           }
         }
 
    </script> 
  