<div class="container" ng-controller="storyFeedController as storyFeedCtrl">
  <div class="row">
    <div class="col-md">
      <div class="media" ng-repeat="story in storyFeedCtrl.stories">
        <img class="mr-3" src="{{ story.thumbnail }}" alt="{{ story.title }}">
          <div class="media-body">
            <h5 class="mt-0">
              <ul>
                <li><a href="#!/story/{{ story._id }}">{{ story.title }}</a></li>
                <li><a href="#!/edit_story/{{ story._id }}"><i class="fas fa-edit"></i></a></li>
              </ul>
            </h5>
            {{ story.summary }}
      </div>
      </div>
    </div>
</div>
