<div class="container" ng-controller="storyController as storyCtrl">
  <div class="row">
      <div class="col-md-12">
          <h1 class="text-center">Add Story</h1>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-md-6">
          <form ng-submit="storyCtrl.addStory()" name="storyForm">
              <div class="form-group">
                <input type="hidden" name="authorId" ng-model="authorId" class="form-control" value="5aa3148a268d9b158e3a068c" />
              </div>
              <div class="form-group">
                <input type="hidden" name="status" ng-model="status" class="form-control" value="1" />
              </div>
              <div class="form-group" ng-class="{ 'has-error' : storyForm.title.$invalid && !storyForm.title.$pristine }">
                <input type="text" name="title" value="" ng-model="storyCtrl.title" class="form-control" placeholder="Title"/>
                <p ng-show="storyForm.title.$error.minlength" class="help-block">Content is too short.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : storyForm.summary.$invalid && !storyForm.summary.$pristine }">
                <input type="text" name="summary" value="" ng-model="storyCtrl.summary" class="form-control" placeholder="summary"/>
                <p ng-show="storyForm.summary.$error.minlength" class="help-block">Content is too short.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : storyForm.content.$invalid && !storyForm.content.$pristine }">
                <textarea type="text" name="content" value="" ng-model="storyCtrl.content" class="form-control" placeholder="Content"></textarea>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : storyForm.price.$invalid && !storyForm.price.$pristine }">
                <input type="text" name="price" value="" ng-model="storyCtrl.price" class="form-control" placeholder="Price"/>
              </div>
              <div class="form-group">
                <input type="file" name="thumbnail" ng-model="storyCtrl.thumbnail" class="form-control">
              </div>
              <div class="form-group" ng-class="{ 'has-error' : storyForm.country.$invalid && !storyForm.country.$pristine }">
                <label>Country</label>
                <select ui-select2 ng-model="story.country" data-placeholder="Add Countries" multiple="multiple">
                    <option value=""></option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                    <option value="France">France</option>
                </select>
                <p ng-show="storyForm.country.$invalid && !storyForm.country.$pristine" class="help-block">Enter a valid tag.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : storyForm.sector.$invalid && !storyForm.sector.$pristine }">
                <label>Topic</label>
                <select ui-select2 ng-model="story.sector" data-placeholder="Add Topics" multiple="multiple">
                    <option value=""></option>
                    <option value="Economy">Economy</option>
                    <option value="Arts">Arts</option>
                    <option value="Social">Social</option>
                </select>
                <p ng-show="storyForm.sector.$invalid && !storyForm.sector.$pristine" class="help-block">Enter a valid tag.</p>
              </div>
              <div class="form-group">
                <!--button type="button" class="btn btn-default" ng-click="storyCtrl.preview()">Preview</button-->
                <!--button type="button" class="btn btn-info" ng-disabled="storyForm.$invalid">Save</button-->
                <button type="submit" class="btn btn-primary" ng-disabled="storyForm.$invalid">Submit</button>
              </div>
          </form>
      </div>
  </div>
  <!---->
  </row>
</div>
