
    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet"  href="assets/css/css.css">


<div style="margin-top: 1%;" id="list_of_Story" >

	<div class="col-lg-12">

		<div class="container row">
			<div class="input-group input-group row {{role === 'reporter' ? 'col-11' : 'col-12'}} ">
			  <span class="input-group-btn">
			    <button class="btn btn-secondary" type="button">Search !</button>
			  </span>
			  <input type="text" class="form-control mr-sm-2" ng-model="research"  placeholder="Search for...">
			</div>
		</div>

		<div class="row">

		    <div class="{{role === 'reporter' ? 'col-sm-9 blog-main' : 'col-sm-12 blog-main'}} " >
					<div style="margin-top: 3%; margin-left: 0%; border:1px solid #D5DCE5;"  class="row" ng-repeat="story in stories | filter:{content : research}">


					  	<div class="col-sm-3" style="background-image: url(./assets/images/{{story.thumbnail}});  background-position: center;background-repeat: no-repeat;background-size: cover;">
		       			</div>

				        <div class="col-sm-9">
							  	<h2 style="margin-top: 1%;"> <a href="#!/story/view{{story._id}}" class="ahref2"> {{story.title}} </a>    &nbsp&nbsp


							<!--   	<div style="color:yellow">
								  <i class="fas fa-star fa-5x"></i>
								</div> -->


				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">

				          </h2>
							  	<p style="margin-bottom: 1.25rem;color: #999;">{{story.date_last_update}} by <a href="#" class="ahref">Larry King </a>
				          <span style="float:right"> 30 min Ago</span></p>
							  	<a href="#!/story/view{{story._id}}" class="ahref2"> <span> <p>{{story.summary  | limitTo: 350}}</p>  </span> </a>
							  	<p><footer class="blockquote-footer" ng-repeat="tag in story.tags" >{{tag.key}} : {{tag.value}} </footer>
							      <span style="float:right; color: #999"> <h5>{{story.price}} N.T </h5></span>
				          </p>
				        </div>

					</div>
		    </div>


		    <!-- ng-controller="userMetaDataCtrl" -->

        <div class="col-sm-2 offset-sm-1 blog-sidebar" ng-show="role === 'reporter'" >

          <div style="margin-top: 5%;">
              	<div class="theme-purchases__item" style="display: flex !important;font-size: 12px;letter-spacing: -.01em;line-height: 1.5;padding: 20px 15px;flex: 1 0 auto;text-align: center !important;font-size: 12px;color: #838E95;">
	                    <span ng-if="role == 'reporter'" > <h5 class="mb-0" > <i class="bootstrap-themes-icon-cart"></i>210</h5>Story purchased </span>
                      <span ng-if="role != 'reporter'"> <h5 class="mb-0" > <i class="bootstrap-themes-icon-cart"></i>10</h5> Purchases </span>
	              </div>
         </div>

  <!--          <h4 style="margin-top: 10%"> Your Tags</h4>


            <!-- <div class="theme-description__list__item" style="font-size: 13px;color: #838E95;padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #D5DCE5;"  ng-repeat="userMetaData in userMetaDatas" >

            	<span class="theme-description__item__title"><a href="#!/update/{{userMetaData.metaDataId}}" class="ahref" >{{userMetaData.key}} </a> : </span><span>{{userMetaData.value}}</span>
              <br>
              <a href="#!/userMetaData/remove/{{userMetaData.id}}" class="ahref" style="color: #e83e8c;"> <code class="highlighter-rouge">Remove</code></a>    &nbsp&nbsp
              <a href="#!/userMetaData/update/{{userMetaData.id}}" class="ahref" style="color: #e83e8c;"><code class="highlighter-rouge">Update</code></a>

            </div> -->


<!--

						<div class="theme-description__list__item" style="font-size: 13px;color: #838E95;padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #D5DCE5;" >
								<span class="theme-description__item__title"><a href="#!" class="ahref" >Country </a> : </span>
								<span> <span ng-click="research = research + 'France ' ">France</span>,  <span ng-click="research = research + 'United Arab Emirates ' "> United Arab Emirates,  <span ng-click="research = research + 'Singapore ' ">Singapore</span></span>
						</div>
						<div class="theme-description__list__item" style="font-size: 13px;color: #838E95;padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #D5DCE5;" >
								<span class="theme-description__item__title"><a href="#!" class="ahref" >Types of news </a> : </span>
								<span>General News, Social News", Tech News</span>
						</div>
						<div class="theme-description__list__item" style="font-size: 13px;color: #838E95;padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #D5DCE5;" >
								<span class="theme-description__item__title"><a href="#!" class="ahref" >Sector </a> : </span>
								<span>Financial, Agribusiness</span>
						</div>
						<div class="theme-description__list__item" style="font-size: 13px;color: #838E95;padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #D5DCE5;" >
								<span class="theme-description__item__title"><a href="#!" class="ahref" >Company </a> : </span>
								<span>IBM, Google, Facebook, Nestle</span>
						</div>
							<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-warning" href="">Tags manager</a>
 -->

  <div class="statProfile" > <a class="btn btn-outline-success btn-sm btn-block" href="#!/story/add_story" ng-show="role === 'reporter'"> Add story </a> </div>



          </div>

        </div><!-- /.blog-sidebar row -->

      </div>

	</div>
