
    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet"  href="assets/css/css.css">


<div style="margin-top: 1%;" id="list_of_Story" >

	<div class="col-lg-12">

		<div class="container row">
			<div class="input-group input-group row {{userCred.role === 'reporter' ? 'col-11' : 'col-12'}} ">
			  <span class="input-group-btn">
			    <button class="btn btn-secondary" type="button">Search !</button>
			  </span>
			  <input type="text" class="form-control mr-sm-2" ng-model="research"  placeholder="Search for...">
			</div>
		</div>

		<div class="row">

		    <div class="{{userCred.role === 'reporter' ? 'col-sm-9 blog-main' : 'col-sm-9 blog-main'}} " >

          <div class="{{userCred.role === 'reporter' ? 'col-sm-9 blog-main' : 'col-sm-12 blog-main'}}  {{taskStatus === true ? 'bg-success' : 'bg-danger'}}  text-white" ng-show="taskStatus" style="text-align: center;padding: 1%;margin: 2%;">
            {{taskMsg}}
          </div>


                    <!--<div style="margin-top: 3%; margin-left: 0%; border:1px solid #D5DCE5;"  
                    class="row" ng-repeat="story in stories | filter:{content : research}">-->
                    
                    <div style="margin-top: 3%; margin-left: 0%; border:1px solid #D5DCE5;"  
                    class="row" ng-repeat="story in stories |  orderBy : story.dateCreationStory : true 
                    |  filter:{summary : research} 
                    ">


					  	<div class="col-sm-3" style="background-image: url(./assets/images/{{story.thumbnail}});  background-position: center;background-repeat: no-repeat;background-size: cover;">
		       			</div>

				        <div class="col-sm-9">
							  	<h2 style="margin-top: 1%;"> <a href="#!/story/view{{story._id}}" class="ahref2"> {{story.title}} </a>    &nbsp&nbsp


							<!--   	<div style="color:yellow">
								  <i class="fas fa-star fa-5x"></i>
								</div> -->


				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">
				                <img src="./assets/images/article_star.png" style="width: 2%;">

				          </h2>
							  	<p style="margin-bottom: 1.25rem;color: #999;">{{story.date_last_update}} by <a href="#" class="ahref">Larry King </a>
				          <span style="float:right"> 30 min Ago</span></p>
							  	<a href="#!/story/view{{story._id}}" class="ahref2"> <span> <p>{{story.summary  | limitTo: 350}}</p>  </span> </a>
							  	<p><footer class="blockquote-footer" ng-repeat="tag in story.tags" >{{tag.key}} : {{tag.value}} </footer>


                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5"><h5>{{story.price}} N.T </h5></div>
                            <div class="col-sm-6">
                                <p ng-show="userCred.role === 'reporter'" ng-switch="story.status">
                                   <span style="font-size: 14px;" ng-switch-when="Draft" class="btn btn-outline-warning"> {{story.status}}</span>
                                   <span style="font-size: 14px;" ng-switch-when="validation waiting" class="btn btn-outline-info"> {{story.status}}</span>
                                   <span style="font-size: 14px;" ng-switch-when="Published" class="btn btn-outline-success"> {{story.status}}</span>
                                   <span style="font-size: 14px;" ng-switch-when="Rejected" class="btn btn-outline-danger"> {{story.status}}</span>

                               </p>
                            </div>
                        </div>
                      </div>
                    </div>


				          </p>
				        </div>

					</div>
		    </div>


		    <!-- ng-controller="userMetaDataCtrl" -->

        <div class="col-sm-2 offset-sm-1 blog-sidebar"  >

          <div style="margin-top: 5%;" ng-show="userCred.role === 'reporter'">
              	<div class="theme-purchases__item" style="display: flex !important;font-size: 12px;letter-spacing: -.01em;line-height: 1.5;padding: 20px 15px;flex: 1 0 auto;text-align: center !important;font-size: 12px;color: #838E95;">
	                    <span ng-if="userCred.role == 'reporter'" > <h5 class="mb-0" > <i class="bootstrap-themes-icon-cart"></i>210</h5>Story purchased </span>
                      <span ng-if="userCred.role != 'reporter'"> <h5 class="mb-0" > <i class="bootstrap-themes-icon-cart"></i>10</h5> Purchases </span>
	              </div>
         </div>

  

  <div class="statProfile" > <a class="btn btn-outline-success btn-sm btn-block" href="#!/story/add_story" ng-show="userCred.role === 'reporter'"> Add story </a> </div>



  <div class="js-FiltersContainer"  ng-if="userCred.role === 'reporter'" >

    <div class="Filters-content">

              
            <!-- <div class="filterFilters specificFilter">
                  <span></span>
                  <input type="text">
              </div> -->

              <a class="Filters-choice  isActive" data-filter="461031!23" data-noaccent="Viscorelax" title="Viscorelax">
                <div class="Filters-choice  isActive"  >
                    <input type="checkbox" id="filter_" class="check">
                    <label for="filter_" class="Filters-choiceTxt ">
                        <span class="Filters-choiceLabel" ng-click="FiltersByStatus('Draft')" >Draft</span>                
                    </label>
                    </div>
                </a>
              

              <a class="Filters-choice  isActive" data-filter="461031!23" data-noaccent="Viscorelax" title="Viscorelax">
                  
                  <input type="checkbox" id="filter_" class="check">
                  
                  <label for="filter_" class="Filters-choiceTxt ">
                      <span class="Filters-choiceLabel" ng-click="FiltersByStatus('validation waiting')" >valid. waiting</span>                            
                  </label>
              </a>

              

              <a class="Filters-choice  isActive" data-filter="448510!23" data-noaccent="Novadis" title="Novadis">
                  
                  <input type="checkbox" id="filter_" class="check">
                  
                  <label for="filter_" class="Filters-choiceTxt ">
                      <span class="Filters-choiceLabel" ng-click="FiltersByStatus('Published')" >Published</span>                            
                  </label>
              </a>
              
              <a class="Filters-choice  isActive" data-filter="448510!23" data-noaccent="Novadis" title="Novadis">
                  
                  <input type="checkbox" id="filter_" class="check">
                  
                  <label for="filter_" class="Filters-choiceTxt ">
                      <span class="Filters-choiceLabel"  ng-click="FiltersByStatus('Rejected')" >Rejected</span>                            
                  </label>
              </a>

              <a class="Filters-choice  isActive" data-filter="448510!23" data-noaccent="Novadis" title="Novadis">
                  
                    <input type="checkbox" id="filter_" class="check">
                    
                    <label for="filter_" class="Filters-choiceTxt ">
                        <span class="Filters-choiceLabel"  ng-click="FiltersByStatus('All')" >All</span>                            
                    </label>
                </a>

          </div>

          
      </div>

      <div class="filterFilters specificFilter">
          <span></span>

      </div> 


<!--
  <article class="facet"  ng-if="userCred.role === 'member'">
    <div class="-head">
        <span class="-name">Get User Tag's and dsplay</span> <i class="osh-font-minus -toggle"></i>
    </div>

    <div class="-content">
      <form class="facet-form -facet" > 
        <div class="facet-el">
            <div class="facet-link" data-facetvalue="50" >
                <i class="osh-font-checkbox -checkbox-toggle"></i>
                <input type="checkbox" name="display_size[0.0]" value="0.0">
                <span class="cnv-name"> 0.0 </span><span class="cnv-items">(50)</span>
            </div>
         </div>
         <div class="facet-el">
             <div class="facet-link" data-facetvalue="50" >
                 <i class="osh-font-checkbox -checkbox-toggle"></i>
                 <input type="checkbox" name="display_size[0.0]" value="0.0">
                 <span class="cnv-name"> 0.0 </span><span class="cnv-items">(50)</span>
             </div>
          </div>
      </form>
    </div>

  </article>

-->


<div class="js-FiltersContainer"  ng-if="userCred.role === 'member'">
  <h3>User tag's</h3> 
    <div class="Filters-content">

            
          <div class="filterFilters specificFilter">
                <span></span>
                <input type="text">
          </div>

        <div ng-repeat="tag in userCred.tags">
            <label for="filter_" class="Filters-choiceTxt "> {{tag.key}} </label>
          <a class="Filters-choice  isActive" data-filter="422530!23" style="margin-left: 10%;">      
            <input type="checkbox" id="filter_" class="check">
                <span class="Filters-choiceLabel">{{tag.value}} </span>                           
           </a>
        </div>
    

        
    </div>

    <div class="filterFilters specificFilter">
        <span></span>
    </div> 

</div>
          </div>

        </div><!-- /.blog-sidebar row -->

      </div>

	</div>
