<form class="fp-userDetail">
  <fieldset disabled>

  <!-- Form Name -->
  <legend class="legend">User profile</legend>

  <!-- Text input-->

<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Last name</label>
  <div class="col-sm-6">
    <input type="text" class="form-control input-md" name="name" placeholder="Last name" value="King">
  </div>
</div>

<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">First name</label>
  <div class="col-sm-6">
    <input type="text" class="form-control input-md" name="name" placeholder="First Name" value="Larry">
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Date Of Birth</label>
  <div class="col-sm-6">
    <input type="date" class="form-control input-md" name="DateOfBirth" value="1933-11-19" >
  </div>
</div>

<div class="form-group row">

  <label for="inputEmail3" class="col-sm-3 col-form-label">Gender</label>
  <div class="col-sm-6">
    <div class="col-md-4">
      <label class="radio-inline" for="Gender-0">
        <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked"> Male
      </label>

      <label class="radio-inline" for="Gender-1">
        <input type="radio" name="Gender" id="Gender-1" value="2"> Female
      </label>

    </div>
 </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Permanent Address</label>
  <div class="col-sm-6">
    <textarea class="form-control" id="exampleTextarea" rows="3">Brooklyn, New York, État de New York, États-Unis</textarea>
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Skills</label>
  <div class="col-sm-6">
    <input type="text" class="form-control input-md" id="Skills" placeholder="Skills" value=" American television and radio host">
  </div>
</div>

<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Company</label>
  <div class="col-sm-6">
    <input type="text" class="form-control input-md" name="Company" placeholder="Company" value="cnn">
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Email Address</label>
  <div class="col-sm-6">
    <input type="email" class="form-control input-md" id="inputEmail3" placeholder="Email Address" value="larry.king@cnn.com">
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Phone number</label>
  <div class="col-sm-6">
    <input type="integer" class="form-control input-md" id="inputEmail3" placeholder="Phone number" value="+00112365478">
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Overview (max 200 words)</label>
  <div class="col-sm-6">
     <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
</div>



</fieldset>
</form>
