    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet"  href="assets/css/css.css">
<!--<div class="container col-md10 col-sm-10 col-xs-10 " style="margin-top: 2%;">
    <div class="row">
        <div class="col-md-12 col-md-offset-6 col-sm-offset-6 col-sm-12 col-xs-offset-3 col-xs-12 profile-vcard">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <img src="assets/images/bg-pro1.png">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row profile-detail">
                        <div class="col-md-4 col-sm-4 col-xs-5 text-center">
                            <img src="assets/images/user1.jpg" class="img-avatar">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-7">
                            <h1>Larry King</h1>
                            <p>Editor</p>
                            <p>CNN</p>
                            <span>Brooklyn, New York, État de New York</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row text-center profile-count-detail">
                        <div class="col-md-4 col-sm-4 col-xs-12 count-no">
                            <h2>122</h2>
                            <p>Story</p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 count-no">
                            <h2>1.9 k</h2>
                            <p>Followers</p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 count-no">
                            <h2>2 k</h2>
                            <p>Story Views</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<div class="container fp-userDetail">
    <div class="row">
        <div class="col-md-10 ">
            <div class="">
            	<div class="row">
            		<div class="col-lg-12">
            	      	<div ng-include="'views/user/form-profile.html'"> </div>
            	    </div>
            	</div>
            </div>
        </div>

        <div class="col-md-2">
            <img src="assets/images/user1.jpg" class="img-responsive img-thumbnail">

            <div class="statProfile" ><strong><span class="ahref"> 122  Story </span></strong></div>
            <div class="statProfile" ><strong><span class="ahref"> 1.9 k sFollowers </span></strong></div>
            <div class="statProfile" ><strong><span class="ahref"> 2 k  Story Views </span></strong></div>
            <br>
            <a class="btn btn-outline-warning btn-sm btn-block" href="#">Edit User</a>
        </div>






    </div>
</div>
