
<div class="container fp-userDetail">
    <div class="row">
        <div class="col-md-10 ">
            <div class="">
            	<div class="row">
            		<div class="col-lg-12">
            	      	<div ng-include="'views/user/form-profile.html'"> </div>
            	    </div>
            	</div>
            </div>
        </div>

        <div class="col-md-2">
            <a class="btn btn-outline-warning btn-sm btn-block" href="/#!/story/add_story">Add Story</a>
            <img src="assets/images/user1.jpg" class="img-responsive img-thumbnail">

            <div class="statProfile" ><strong><span class="ahref"> 122  Story </span></strong></div>
            <div class="statProfile" ><strong><span class="ahref"> 1.9 k sFollowers </span></strong></div>
            <div class="statProfile" ><strong><span class="ahref"> 2 k  Story Views </span></strong></div>
            <br>

            <div class="js-FiltersContainer"  ng-if="userCred.role === 'member'">
                <h3>User tag's</h3> 
                  <div class="Filters-content">              
                      <div ng-repeat="tag in userCred.tags">
                          <label for="filter_" class="Filters-choiceTxt "> {{tag.key}} </label>
                        <a class="Filters-choice  isActive" data-filter="422530!23" style="margin-left: 10%;">      
                          <input type="checkbox" id="filter_" class="check">
                              <span class="Filters-choiceLabel">{{tag.value}} </span>                           
                         </a>
                      </div>
                  
              
                      
                  </div>
              
                  <div class="filterFilters specificFilter">
                      <span></span>
                  </div> 
              
              </div>

            <a class="btn btn-outline-warning btn-sm btn-block" href="">Edit User</a>
        </div>






    </div>
</div>
