

<div class="container clssLogin">
  <h2>Capitol intelligence News</h2>
  <form name="formLogin">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control"  placeholder="Enter email" ng-model="user.email"  required >
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password"  ng-model="user.password"  required>
    </div>

    <div class="p-3 mb-2 bg-danger text-white" ng-show="error">
      {{error}}
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn secondary"  ng-click="login(user)" >login</button>
  </form>
</div>
