

Filters-content.{
  display: inline-block;
  overflow: hidden;
  max-width: 103px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 1px solid #d8d8d8;
  margin: 0 15px 20px;
  overflow: hidden;
}

.filterFilters{
  margin-bottom: 16px;
  position: relative;
}

.Filters-choice{
  color: #595959;
    display: block;
    font-size: 1.08333em;
    line-height: 2em;
  
    white-space: nowrap;
}

.SearchNav .Filters .Filters-content .Filters-choice.isActive{
  display: block;
}

input[type="checkbox"]+label, input[type="radio"]+label{
  margin-left: 08px;
    position: relative;
    display: inline-block;
    line-height: 18px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.Filters-choiceLabel{
  display:inline-block;
  overflow:hidden;
  max-width:103px;
  text-overflow:ellipsis;
  vertical-align:middle;
  white-space:nowrap;
}